h1 {
   text-align: center;
   margin: 50px 0;
}
h2 {
	float: right;
}
.grid__body {
	display: grid;
	
	grid-template: repeat(1, 1fr) / repeat(3, 1fr);
}
.grid__item {
	margin: 0px 20px 0px 20px;
}
.grid__item>p {
	text-align: center;
	padding: 70px 0px 10px 0px;
	background: #999;
}
#h2_1{
   padding: 5px 30px;
   background-color: rgb(241, 125, 125);
}
#h2_2{
   padding: 5px 30px;
   color: #fff;
   background-color: red;
}
#h2_3{
   padding: 5px 30px;
   background-color: lightyellow;
}
@media (max-width: 992px) {
	.grid__body {
	display: grid;
	
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	}
	.grid__item_3 {
		grid-column: 1/3;
		grid-row: 2/3;
	}
}
@media (max-width: 768px) {
	.grid__body {
	display: grid;
	
	grid-template: repeat(3, 1fr) / repeat(1, 1fr);
	}

	.grid__item_3 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.grid__item_3 {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.grid__item_3 {
		grid-column: 1/2;
		grid-row: 3/4;
	}
}